.c20 > div,.c20  div,.c20  dl,.c20  dt,.c20  dd,.c20  h1,.c20  h2,.c20  h3,.c20  h4,.c20  h5,.c20  h6,.c20  p,.c20  pre,.c20  code,.c20  blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
.c20 > div{
	-epub-hyphens:auto;
}
@page {
	margin : 5px 5px 5px 5px;
}
.c20 div.Marco-de-texto-b-sico {
	border-style:solid;
}
.c20 p.Normal {
	color:#000000;
	font-family: inherit;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:2;
}
.c20 p.Normal-espacio-antes {
	color:#000000;
	font-family: inherit;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:16px;
	orphans:2;
	page-break-after:auto;
	page-break-before:avoid;
	text-align:justify;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:2;
}
.c20 p.inicio-cap-tulo {
	color:#000000;
	font-family: inherit;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_Indice_-ndice-1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:14px;
	margin-right:28px;
	margin-top:3px;
	orphans:99;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
	text-transform:none;
	widows:1;
}
.c20 p.maqueta_Indice_-ndice-2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:0.917em;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:28px;
	margin-right:28px;
	margin-top:0;
	orphans:99;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:-14px;
	text-transform:none;
	widows:1;
}
.c20 p.maqueta_creditos_cre_ultimo-p-rrafo {
	color:#000000;
	font-family: inherit;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_creditos_credito_No-espacio {
	color:#000000;
	font-family: inherit;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_creditos_credito_espacio-despues {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_creditos_credito_sangria_espacio-despues {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	margin-bottom:11px;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_creditos_credito_sangr-a_no-espacio {
	color:#000000;
	font-family: inherit;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	margin-bottom:0;
	margin-left:11px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_creditos_credito_titulo {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:0.833em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	margin-bottom:14px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_dedicatoria_Dedicatoria-1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:0.917em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:57px;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:2;
}
.c20 p.maqueta_dedicatoria_Dedicatoria-2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:0.917em;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	margin-bottom:0;
	margin-left:57px;
	margin-right:0;
	margin-top:28px;
	orphans:2;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:14px;
	text-transform:none;
	widows:2;
}
.c20 p.t-tulos_T-tulo-1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:1.5em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	margin-bottom:20px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:2;
	page-break-after:avoid;
	page-break-before:always;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:2;
}
.c20 p.t-tulos_T-tulo-2 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	color:#000000;
	font-family: inherit;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:600;
	margin-bottom:57px;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:99;
	page-break-after:avoid;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
.c20 span.Capitulo-x {
	font-size:1.167em;
	font-style:normal;
	font-weight:normal;
}
.c20 span.bold {
	font-style:normal;
	font-weight:bold;
}
.c20 span.italic {
	font-style:italic;
	font-weight:normal;
}
.c20 p.ParaOverride-1 {
	-epub-hyphens:none;
	-webkit-hyphens:none;
	margin-bottom:20px;
	orphans:2;
	page-break-after:avoid;
	page-break-before:always;
	text-align:center;
	widows:2;
}
.c20 span.CharOverride-1 {
	font-family: inherit;
	font-style:normal;
	font-weight:normal;
}
.c20 span._idGenCharOverride-1 {
	font-size:0.778em;
}
.c20 #_idContainer000 {
	display:inline-block;
	height:72px;
	width:206px;
}
.c20 #_idContainer001 {
	display:inline-block;
	height:646px;
	width:413px;
}
.c20 img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
.c20 div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
.c20 div._idGenObjectLayout-1 {
	text-align:center;
}

.scroller.c5f2c05b429c65e3a2f620813 { opacity: 1 }
.epub .chapterWrapper > section { opacity: 1 }