html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}

body {
    height  : 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    font-size: var(--fontSize, 18px);
}

body > .zoomPanel {
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier();
  transform: scale(0.75) translate(calc(0 + 2vw), -3em);
}

body > .zoomPanel.zoom {
  transform: scale(1) translate(0, -1em);
}

body > .zoomPanel > .chapterWrapper {
  column-width: 20em; 
  padding: 2em;
  column-rule: 1px solid #ddd;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-gap: 4em;
  height: calc(var(--vh, 100vh) - 2em);
  hyphens: auto;
  clear: both;
}

body > .zoomPanel > .chapterWrapper * {
  max-width: calc(var(--totalColumnWidth, 0) - 2em);
}

body > .zoomPanel > .chapterWrapper > #totalColumnWidthCalculator {
  width: 100%;
  height: 0px;
}

body > .zoomPanel > .labelsForEveryPage {
  position: relative;
  bottom: 1em;
  height: 2em;
  width: var(--totalChapterWidth, 0);
  overflow: visible;
}

body > .zoomPanel > .labelsForEveryPage > .label {
  position: relative;  
  width: var(--totalColumnWidth, 0);
  float: left;
  height: 2em;
  /*scroll-snap-align: start;*/
}

body > .zoomPanel > .labelsForEveryPage > .label p {
  border-top: 1px solid #ddd;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
}

body > .buttons {
  position: fixed;
  top: 0px;
  right: 0px;
  user-select: none;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier();
}

body > .buttons.zoom {
  top: -40px;
}

body > .buttons button {
  float: left;
  width: 28px;
  height: 28px;
  font-size: 14px;
  border: none;
  margin-top: 0px;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-weight: 300;
  outline: none;
}

@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold-Italic.ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Semibold-Italic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold-Oblique.ttf');
  font-weight: 800;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Light-Oblique.ttf');
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Light-Oblique.ttf');
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Oblique.ttf');
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica.ttf');
  font-weight: 400;
  font-style: normal;
}

.viewer.epub.baskerville-enc .chapterWrapper {
  font-family: 'Baskerville';
}

.viewer.epub.americanTypewriter-enc .chapterWrapper {
  font-family: 'American Typewriter';
}
.viewer.epub.helvetica-enc .chapterWrapper {
  font-family: 'Helvetica';
}
