html {
  overflow: hidden;
  position: relative;
  scroll-snap-align: none;
}

body {
  scroll-snap-align: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: var(--viewerSnapType, x mandatory);
  font-size: var(--fontSize, 18px);
  line-height: var(--lineHeight, 1.5em);
  background-color: #fff;     
}

body.vertical {
  height: auto;
  overflow-y: hidden;
  scroll-snap-type: none;
}

body * {
  scroll-snap-align: none;
}

body > .zoomPanel {  
  transition: filter 0.5s linear 0ms, transform var(--animationSpeed, 0.5s) cubic-bezier(0.175, 0.885, 0.32, 1.2) 0ms;
  transform: translateX(var(--horizontalScrollFix, 0)) scale(0.75);  
  filter: contrast(var(--contrastViewerColor, 1)) sepia(var(--sepiaViewerColor, 0)) invert(var(--invertViewerColor, 0));
  background-color: white;
}
body > .zoomPanel img,
body > .zoomPanel video,
body > .zoomPanel iframe {
  transition: filter 0.5s linear 0ms;
  filter: invert(var(--invertViewerColor, 0));
}

.backgroundPageColor {
  position: fixed;
  background-color: white;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  transition: filter 0.5s linear 0ms;
  filter: contrast(var(--contrastViewerColor, 1)) sepia(var(--sepiaViewerColor, 0)) invert(var(--invertViewerColor, 0));
}

body > .zoomPanel.zoom {
  transform: translateX(var(--horizontalScrollFix, 0)) translateY(-1em) scale(1);
}

body.vertical > .zoomPanel  {
  transform: translateX(0) translateY(-1em) scale(1);
}

body.vertical > .zoomPanel.zoom  {
  transform: translateX(0) translateY(-1em) scale(1);
}

body > .zoomPanel > .chapterWrapper {
  column-width: 25em;
  padding: 2em 36px;
  column-rule: 1px solid #eee;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-gap: 72px;
  height: calc(var(--vh, 100vh) - 2em);
  hyphens: auto;
  clear: both;
}

body.vertical > .zoomPanel > .chapterWrapper {
  column-width: calc(100vw - 72px);
  height: auto;
  width: calc(100vw - 72px);
}

body > .zoomPanel > .chapterWrapper > .additionalPage {
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  clear: both;
}

body > .zoomPanel > .chapterWrapper img,
body > .zoomPanel > .chapterWrapper video,
body > .zoomPanel > .chapterWrapper table,
body > .zoomPanel > .chapterWrapper iframe {
  max-width: calc(var(--totalColumnWidth, 0) - 72px);
}

body > .zoomPanel > .chapterWrapper > #totalColumnWidthCalculator,
body > .zoomPanel > .chapterWrapper > #endOfChapterCalculator {
  width: 100%;
  height: 0px;
}

body.vertical > .zoomPanel > .chapterWrapper > #totalColumnWidthCalculator {
  height: 2em;
}


body > .zoomPanel > .labelsForEveryPage {
  position: relative;
  bottom: 1em;
  height: 2em;
  width: var(--totalChapterWidth, 0);
  overflow: visible;
}

body.vertical > .zoomPanel > .labelsForEveryPage {
  display: none;
}

body.vertical > .pageSnaps {
  display: none;
}

body > .pageSnaps {
  position: relative;
  background-color: black;
  height: 0px;
  width: 0px;
  float: left;
}

body > .pageSnaps > .scrollSnap {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0px;
  scroll-snap-align: start;
}


body > .zoomPanel > .labelsForEveryPage > .label {
  position: relative;
  width: var(--totalColumnWidth, 0);
  float: left;
  height: 2em;
}

body > .zoomPanel > .labelsForEveryPage > .label p {
  border-top: 1px solid #eee;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
}

body > .buttons {
  position: fixed;
  top: 0px;
  right: 0px;
  user-select: none;
  transition-property: top;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier();
}

body > .buttons.zoom {
  top: -40px;
}

body > .buttons button {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: 28px;
  height: 28px;
  font-size: 14px;
  border: none;
  font-weight: 600;
  margin-top: 0px;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  outline: none;
}

@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold-Italic.ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Semibold-Italic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold-Oblique.ttf');
  font-weight: 800;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Light-Oblique.ttf');
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Light-Oblique.ttf');
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Oblique.ttf');
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica.ttf');
  font-weight: 400;
  font-style: normal;
}

.viewer.epub.baskerville-enc .chapterWrapper {
  font-family: 'Baskerville';
}

.viewer.epub.americanTypewriter-enc .chapterWrapper {
  font-family: 'American Typewriter';
}
.viewer.epub.helvetica-enc .chapterWrapper {
  font-family: 'Helvetica';
}
