html {
  height  : 100%;
  overflow: hidden;
  position: relative;
}

body {
    height  : 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    font-size: var(--fontSize, 18px);
}

body > .chapterWrapper {
  column-width: 20em; 
  padding: 2em;
  column-rule: 1px solid #ddd;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-gap: 4em;
  height: calc(var(--vh, 100vh) - 7em);
  hyphens: auto;
  clear: both;
}

body > .chapterWrapper * {
  max-width: calc(var(--totalColumnWidth, 0) - 4em);
}

body > .chapterWrapper > #totalColumnWidthCalculator {
  width: 100%;
  height: 0px;
}

body > .labelsForEveryPage {
  position: relative;
  bottom: 1em;
  height: 2em;
  width: var(--totalChapterWidth, 0);
  overflow: visible;
}

body > .labelsForEveryPage > .label {
  position: relative;  
  width: var(--totalColumnWidth, 0);
  float: left;
  height: 2em;
  scroll-snap-align: start;
}

body > .labelsForEveryPage > .label p {
  border-top: 1px solid #ddd;
  margin: 0 1em;
  text-align: center;
  font-weight: 600;
  line-height: 3em;
}


@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Condensed.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'American Typewriter';
  src: url('/fonts/prh-fonts/obfuscate-AmericanTypewriter.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold-Italic.ttf');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Semibold-Italic.ttf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville-Semibold.ttf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Baskerville';
  src: url('/fonts/prh-fonts/obfuscate-Baskerville.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold-Oblique.ttf');
  font-weight: 800;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Bold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Light-Oblique.ttf');
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Light-Oblique.ttf');
  font-weight: 200;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica-Oblique.ttf');
  font-weight: 400;
  font-style: oblique;
}
@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/prh-fonts/obfuscate-Helvetica.ttf');
  font-weight: 400;
  font-style: normal;
}

.viewer.epub.baskerville-enc .chapterWrapper {
  font-family: 'Baskerville';
}

.viewer.epub.americanTypewriter-enc .chapterWrapper {
  font-family: 'American Typewriter';
}
.viewer.epub.helvetica-enc .chapterWrapper {
  font-family: 'Helvetica';
}
